 <div  class="chat-box-div ">
        <div  class="panel-body chat-box-main " scroll-glue>
            <div ng-repeat="msg in msgQ">
                <div ng-if="msg._id==clientId" class="bubble bubble-alt pink">
                    <p class="datestamp">{{msg._time}}</p>
                    <p>{{msg._msgBody}}</p> 
                </div>
                 <div ng-if="msg._id==topic" class="bubble">
                     <p class="datestamp">{{msg._time}}</p>
                    <p>{{msg._msgBody}}<p>
                 </div>
            </div>
        </div>
        <div class="chat-box-footer">
            <div class="input-group">
                <input type="text" class="form-control" ui-keypress="{enter:'send()'}" placeholder="Enter Text Here..." ng-model="message">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" ng-click="send()">SEND</button>
                            </span>
            </div>
        </div>

    </div>