 <div  class="chat-box-div ">
        <div  class="panel-body chat-box-main " scroll-glue>       
           
              <!--   <span class="datestamp">{{msg._time}}</span> -->
                <p  ng-repeat="msg in msgQ" ng-class="{true:'bubble bubble-alt pink',false:'bubble'}[msg._id===clientId]">{{msg._msgBody}}</p> 
            
        </div>
        <div class="chat-box-footer">
            <div class="input-group">
                <input type="text" class="form-control" ui-keypress="{enter:'send()'}" placeholder="Enter Text Here..." ng-model="message">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" ng-click="send()">SEND</button>
                            </span>
            </div>
        </div>

    </div>