<div class="col-lg-3 col-md-3 col-sm-3">
    <div class="chat-box-online-div">
        <div class="chat-box-online-head">
            ONLINE FRIENDS (2)
        </div>
        <div class="panel-body chat-box-online">

            <div class="chat-box-online-left">
                <img src="images/user.png" alt="bootstrap Chat box user image" class="img-circle"/>
                - Justine Goliyad
                <br/>
                (
                <small>Active from 3 hours</small>
                )
            </div>
            <hr class="hr-clas-low"/>

            <div class="chat-box-online-right">
                <img src="images/user.png" alt="bootstrap Chat box user image" class="img-circle" />
                -  Romin Royeelin
                <br />
                ( <small>Active from 10 hours</small> )
            </div>
            <hr class="hr-clas-low" />

        </div>
    </div>
</div>
<div ui-view></div>