<div class="col-lg-3 col-md-3 col-sm-3">
    <div class="chat-box-online-div">
        <div class="chat-box-online-head">
            ONLINE FRIENDS (2)
        </div>

        <div class="panel-body chat-box-online" >

            <div class="chat-box-online-left">
                
                <a  class="list-group-item" ng-repeat="friend in friends_list" ng-click="addChatWindow(friend.name)">
                    <div>
                        <img ng-src="images/Avatars/{{friend.name}}.jpg" alt="bootstrap Chat box user image" class="img-circle"/>
                        <span>{{friend.name}}</span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
<div id="chatWindow" class="col-lg-9 col-md-9 col-sm-9">

</div>