<div class="col-lg-9 col-md-9 col-sm-9">
    <div class="chat-box-div">
        <div class="panel-body chat-box-main">
        </div>
        <div class="chat-box-footer">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Text Here..." ng-model="message">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" ng-click="send()">SEND</button>
                            </span>
            </div>
        </div>

    </div>

</div>