<div class="col-lg-9 col-md-9 col-sm-9">
    <div class="chat-box-div">
        <div class="panel-body chat-box-main">
<!--            <div class="chat-box-left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="chat-box-name-left">
                <img src="Images/user.png" alt="bootstrap Chat box user image" class="img-circle" />
                -  Justine Goliyad
            </div>
            <hr class="hr-clas" />
            <div class="chat-box-right">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="chat-box-name-right">
                <img src="Images/user.gif" alt="bootstrap Chat box user image" class="img-circle" />
                - Romin Royeelin
            </div>
            <hr class="hr-clas" />
            <div class="chat-box-left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="chat-box-name-left">
                <img src="Images/user.png" alt="bootstrap Chat box user image" class="img-circle" />
                -  Justine Goliyad
            </div>
            <hr class="hr-clas" />
            <div class="chat-box-right">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="chat-box-name-right">
                <img src="Images/user.gif" alt="bootstrap Chat box user image" class="img-circle" />
                - Romin Royeelin
            </div>
            <hr class="hr-clas" />-->
        </div>
        <div class="chat-box-footer">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Text Here..." ng-model="message">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" ng-click="send()">SEND</button>
                            </span>
            </div>
        </div>

    </div>

</div>