<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">LetsTalk</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Page 1-1</a></li>-->
                <!--<li><a href="#">Page 1-2</a></li>-->
                <!--<li><a href="#">Page 1-3</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <li><a ui-sref="index.channel">Channel</a></li>
                <li><a ui-sref="index.userlist">People</a></li>
                <li><a ui-sref="index.chatlist">Conversation</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span> {{clientId}}</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>