<div class="col-lg-3 col-md-3 col-sm-3">
    <div class="chat-box-online-div">
        <div class="chat-box-online-head">
            ONLINE USERS (120)
        </div>
        <div class="panel-body chat-box-online">

            <div class="chat-box-online-left">
                <a ui-sref="index.userlist.chat">test</a>
                <img src="images/user.png" alt="bootstrap Chat box user image" class="img-circle"/>
                - Justine Goliyad
                <br/>
                (
                <small>Active from 3 hours</small>
                )
            </div>
            <hr class="hr-clas-low"/>

        </div>
    </div>
</div>
<div ui-view></div>